@font-face {
    font-family: Lato;
    src: url("../res/fonts/Lato.ttf");
}

@font-face {
    font-family: Urbanist;
    src: url("../res/fonts/Urbanist.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../res/fonts/Poppins.ttf");
}