//TAMAÑOS
$font-xs: .75rem;
$font-s: 1rem;
$font-m: 1.25rem;
$font-l: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

//COLORES
$color-primary: #64CCC5;
$color-secondary: #176B87;
$color-bg-primary: #eaeaea;
$color-bg-secondary: #053B50;